{% extends 'base.html' %}

{% block content %}
<div class="posts-container">
    {% for post in posts %}
        <div class="blog-post-card">
            <img src="{{ url_for('uploaded_file', filename=post.image_url.split('/')[-1]) }}" alt="{{ post.title }}">
            <div class="post-info">
                <h5>{{ post.title }}</h5>
                <p>{{ post.summary }}</p>
                <a href="{{ url_for('post', slug=post.slug) }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
